<html>
   <body>
      
      <form action = "/cadastros" method = "POST">
         
         <label for="cadastroNome">Nome:</label>
         <input 
            type="text"
            id="cadastroNome"
            name="cadastro[cadastroNome]"
         >

         <label for="cadastroCpf">CPF:</label>
         <input 
            type="text"
            id="cadastroCpf"
            name="cadastro[cadastroCpf]"
         >

         <label for="cadastroEmail">Email:</label>
         <input 
            type="text"
            id="cadastroEmail"
            name="cadastro[cadastroEmail]"
         >

         <label for="cadastroCelular">Celular:</label>
         <input 
            type="text"
            id="cadastroCelular"
            name="cadastro[cadastroCelular]"
         >

         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>